<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">

    <th:block layout:fragment="title">
        <title>도서 리스트</title>
    </th:block>

    <th:block layout:fragment="content">
        <div class="page_tits">
            <h3>도서 관리</h3>

            <!-- 우상단 영역 -->
            <p class="path"><strong>현재 위치 :</strong> <span>도서 관리</span>  <span>도서 리스트</span></p>
        </div>

        <div class="content">

            <section>
                 <!--/* 검색 */-->
                <div class="search_box">

                    <form id="searchForm" onsubmit="return false;" autocomplete="off">

                        <div class="sch_group fl">
                            <select id="searchType" name="searchType" title="검색 유형 선택">
                                <option value="">전체 검색</option>
                                <option value="isbn">isbn</option>
                                <option value="bookName">제목</option>
                                <option value="writer">저자</option>
                            </select>

                            <input type="text" id="keyword" name="keyword" placeholder="키워드를 입력해 주세요." title="키워드 입력" />

<!--                            <button type="button" class="bt_search" onclick="movePage(1);"><i class="fas fa-search"></i><span class="skip_info">검색</span></button>-->
                            <button type="button" class="bt_search" onclick="movePage(1);">검색</button>
                        </div>
                    </form>
                </div>

                <!--/* 도서 리스트 */-->
                <table class="tb tb_col">
                    <colgroup>
                        <col style="width:50px;"/><col style="width:7.5%;"/><col style="width:auto;"/><col style="width:10%;"/><col style="width:15%;"/><col style="width:7.5%;"/>
                    </colgroup>

                    <thead>
                        <tr>
                            <th scope="col"><input type="checkbox"/></th>
                            <th scope="col">번호</th>
                            <th scope="col">썸네일</th>
                            <th scope="col">isbn</th>
                            <th scope="col">제목</th>
                            <th scope="col">저자</th>
                            <th scope="col">출판사</th>
                            <th scope="col">출판일</th>
                            <th scope="col">가격</th>

                             <th scope="col">대여</th>

                             <th scope="col">반납</th>
                        </tr>
                    </thead>

                    <!--/* 도서 리스트 데이터 렌더링 영역 */-->
                    <tbody id="list">

                    </tbody>

                </table>

                <!--/* 페이지네이션 렌더링 영역 */-->
                <div class="paging">

                </div>

                <!--/* 버튼 */-->
                <p class="btn_set tr">

                    <a th:href="@{/book/write}" class="btns btn_st3 btn_large rounded">도서등록</a>
                </p>

                 <form id="returnForm" method="post" action="/book/return" autocomplete="off" enctype="multipart/form-data">
                    <input type="hidden" name="bkId" id="bookId" value="">
                </form>

            </section>
        </div> <!--/* .content */-->
    </th:block>
<!--    ==========================================================================-->

    <th:block layout:fragment="script">

        <script th:inline="javascript">

        /*<![CDATA[*/

            var rentedBooks = [[${rentList}]];

            // 페이지가 로드되었을 때, 딱 한 번만 함수를 실행
            window.onload = () => {

                setQueryStringParams();

                findAllBook();
            }


            // 쿼리 스트링 파라미터 셋팅
            function setQueryStringParams() {

                if ( !location.search ) {
                    return false;
                }

                const form = document.getElementById('searchForm');

                new URLSearchParams(location.search).forEach((value, key) => {

                    if (form[key]) {
                        form[key].value = value;
                    }
                })
            }

            // 게시글 도서 리스트 조회
            function findAllBook() {

                // 1. PagingResponse의 멤버--(필드)인 List<T> 타입의 list를 의미
                const list = [[ ${response.list} ]];

                console.log(list);

                // 2. 도서 리스트가 비어있는 경우, 행에 "검색 결과가 없다"는 메시지를 출력하고, 페이지 번호(페이지네이션) HTML을 제거(초기화)한 후 로직을 종료
                if ( !list.length ) {
                    document.getElementById('list').innerHTML = '<td colspan="6"><div className="no_data_msg">검색된 결과가 없습니다.</div></td>';

                    drawPage();
                }

                // 3. PagingResponse의 멤버인 pagination을 의미
                const pagination = [[ ${response.pagination} ]];

                // 4. @ModelAttribute를 이용해서 뷰(HTML)로 전달한 SearchDto 타입의 객체인 params를 의미
                const params = [[ ${params} ]];

                // 5. 도서 리스트에 출력되는 (도서) 번호를 처리하기 위해 사용되는 변수 (도서 리스트에서 번호는 페이지 정보를 이용해서 계산해야 함)
                let num = pagination.totalRecordCount - ((params.page - 1) * params.recordSize);

                // 6. 도서 리스트 데이터 렌더링
                drawList(list, num);

                // 7. 페이지 번호 렌더링
                drawPage(pagination, params);
            }

            // 도서 리스트 HTML draw
            function drawList(list, num) {

                // 1. 렌더링 할 HTML을 저장할 변수
                let html = '';

                /*
                 * 2. 기존에 타임리프(Thymeleaf)를 이용해서 도서 리스트 데이터를 그리던 것과 유사한 로직
                 *    기존에는 (도서) 번호를 (전체 데이터 수 - loop의 인덱스 번호)로 처리했으나,
                 *    현재는 (전체 데이터 수 - ((현재 페이지 번호 - 1) * 페이지당 출력할 데이터 개수))로,,
                 *    정밀히 계산
                 */
                    list.forEach(row => {

                        const isRented = rentedBooks.some(rent => rent.bkId === row.bookId);

                        html += `
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>${num--}</td>

                                <td>${row.coverFile ? `<img src="/uploads/${row.coverFile}" alt="Thumbnail" class="resize-img">` : ''}</td>

                                <td class="tl">${row.isbn}</td>

                                <td class="tl">
                                    <strong>
                                        <a href="javascript:void(0);" onclick="goViewPage(${row.bookId});">${row.bookName}</a>
                                    </strong>
                                </td>

                                <td>${row.writer}</td>
                                <td>${row.pbComp}</td>

                                <td>${dayjs(row.pbDate).isValid() ? dayjs(row.pbDate).format('YYYY-MM-DD') : ''}</td>

                                <td>${row.price ? row.price : '미정'} </td>

                                <td>${row.rentalAvailableYn ==='Y' ? `<button class="btns btn_bdr5 btn_mid" onclick="rentBook(${row.bookId})">대여하기</button>` : '대여 불가'}</td>

                                <td>${isRented ? `<button class="btns btn_bdr1 btn_mid" onclick="returnBook(${row.bookId})">반납하기</button>` : ''}</td>
                            </tr>
                        `;
                    })

                    // 3. id가 "list"인 요소를 찾아 HTML을 렌더링
                    document.getElementById('list').innerHTML = html;
            }

            // 페이지 HTML draw
            function drawPage(pagination, params) {

                // 1. 필수 파라미터가 없는 경우, 페이지 번호(페이지네이션) HTML을 제거(초기화)한 후 로직 종료
                if ( !pagination || !params ) {
                    document.querySelector('.paging').innerHTML = '';
                    throw new Error('Missing required parameters...');
                }

                // 2. 렌더링 할 HTML을 저장할 변수
                let html = '';

                // 3. 이전 페이지가 있는 경우, 즉 시작 페이지(startPage)가 1이 아닌 경우 첫 페이지 버튼과 이전 페이지 버튼을 HTML에 추가
                if (pagination.existPrevPage) {
                    html += `
                        <a href="javascript:void(0);" onclick="movePage(1)" class="page_bt first">첫 페이지</a>

                        <a href="javascript:void(0);" onclick="movePage(${pagination.startPage - 1})" class="page_bt prev">이전 페이지</a>
                    `;
                }

                /*
                 * 4. 시작 페이지(startPage)와 끝 페이지(endPage) 사이의 페이지 번호(i)를 넘버링 하는 로직
                 *    페이지 번호(i)와 현재 페이지 번호(params.page)가 동일한 경우,,
                 *    페이지 번호(i)를 활성화(on) 처리
                */
                html += '<p>';

                for (let i = pagination.startPage; i <= pagination.endPage; i++) {
                    html += (i !== params.page)
                        ? `<a href="javascript:void(0);" onclick="movePage(${i});">${i}</a>`
                        : `<span class="on">${i}</span>`
                }

                html += '</p>';

                // 5. 현재 위치한 페이지 뒤에 데이터가 더 있는 경우, 다음 페이지 버튼과 끝 페이지 버튼을 HTML에 추가
                if (pagination.existNextPage) {
                    html += `
                        <a href="javascript:void(0);" onclick="movePage(${pagination.endPage + 1});" class="page_bt next">다음 페이지</a>

                        <a href="javascript:void(0);" onclick="movePage(${pagination.totalPageCount});" class="page_bt last">마지막 페이지</a>
                    `;
                }

                // 6. class가 "paging"인 요소를 찾아 HTML을 렌더링
                document.querySelector('.paging').innerHTML = html;
            }

            // 페이지 이동
            function movePage(page) {

                // 1. 검색 폼
                const form = document.getElementById('searchForm');

                // 2. drawPage( )의 각 버튼에 선언된 onclick 이벤트를 통해 전달받는 page(페이지 번호)를 기준으로 객체 생성
                const queryParams = {
                    page: (page) ? page : 1,
                    recordSize: 10,
                    pageSize: 10,
                    searchType: form.searchType.value,
                    keyword: form.keyword.value
                }

                /*
                 * 3. location.pathname : 도서 리스트 페이지의 URI("/book/list")를 의미
                 *    new URLSearchParams(queryParams).toString() : queryParams의,,
                 *    모든 프로퍼티(key-value)를,, 쿼리 스트링으로 변환
                 *    URI + 쿼리 스트링에 해당하는 주소로 이동
                 *    (해당 함수가 리턴해주는 값을 브라우저 콘솔(console)에 찍어보시면 쉽게 이해하실 수 있습니다.)
                 */
                    location.href = location.pathname + '?' + new URLSearchParams(queryParams).toString();
            }

            // 도서 상세 페이지로 이동
            function goViewPage(bookId) {

                const queryString = (location.search) ? location.search + `&bookId=${bookId}` : `?bookId=${bookId}`;

                location.href = '/book/view' + queryString;

                // let queryString = location.search;
                //
                // // URLSearchParams 객체를 사용하여 쿼리 스트링을 파싱합니다.
                // const params = new URLSearchParams(queryString);
                //
                // // 'id' 파라미터를 새 값으로 설정하거나 추가합니다.
                // params.set('bookId', bookId);
                //
                // // 수정된 쿼리 스트링으로 페이지 이동
                // location.href = '/book/view?' + params.toString();
            }

            // 도서 대여 처리 함수()
            function rentBook(bookId) {

                // const data = { bookId: bookId };
                const data = { bkId: bookId };

                fetch('/book/rent', { // (1)
                    method: 'POST',   // (2)
                    body: JSON.stringify(data),  // (3)
                    headers: {  // (4)
                        'Content-Type': 'application/json',
                    },
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json(); //  .json(), .text() 등 서버의 응답 유형에 맞게 변경
                })
                .then(data => {
                    switch(data.message){

                        case "대여권수초과" :
                            alert('회원님은 더이상의 책을 빌릴수 없습니다.');

                            break;
                        case "대여완료" :
                            alert('도서 대여 요청이 성공적으로 처리되었습니다.');

                            window.location.reload(); // 페이지 새로고침을 하여 대여한 책은 대여불가로 표시되도록

                            break;
                        default :
                            alert('도서 대여를 실패하였습니다.');
                            break;
                    }
                })
                .catch(error => {
                    alert('도서 대여 요청 처리 중 오류가 발생했습니다.');
                });
            }

            // 도서 반납
            function returnBook(bookId) {

                const form = document.getElementById('returnForm');

                form.bkId.value = bookId;

                form.submit();
            }
        /*]]>*/

        </script>
    </th:block>
